{% extends "caixa/base.html" %}
{% load static %}

{% block vitrine %}
        
        <div class="vitrine">
            {% for prod in produtos %}
            <div class="card">
                {% if prod.image  %}
                    <img src="{{ prod.image.url }}" alt="{{ prod.name }}">
                {% endif %}
                <div class="descricao">
                    <p>{{ prod.name }}</p>
                    <p>{{ prod.brand }}</p>
                    <section class="preco">
                        <img src="{% static 'caixa/images/coin.svg' %}">
                        <p>R$ {{ prod.price }}</p>
                    </section>
                    <button class="botaoCx" onclick="adicionarAoCarrinho('{{prod.id}}')">Add Produto</button>
                    {% comment %} <button class="botaoUnd">Adc und</button>
                    <button class="botaoCx">Adc cx</button> {% endcomment %}
                </div>
            </div>
            {% empty %}
                <li>Nenhum produto encontrado.</li>
            {% endfor %}
        </div>


{% endblock %}